html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #161415;
    --nav-height :50px;
    padding-top: var(--nav-height);

}
.corp{
    background-color: #161415;
    height: 90%;
}

.nav{
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    top: 0;
    left: 0;
    background-color: #161415;
    
}
.nav--hidden {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  

.head{
    background-color: #161415;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    font: 11px "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.stomach{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
#name{
    font: 100px "Open Sans", sans-serif;
    font-weight: 700;
}
#cmt{
    margin-top: -90px;
    font: 15px "Open Sans", sans-serif;
    font-weight: 400;
    color: #838C95;
}
.me > img{
    margin-right:80px ;
} 
.me{
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 11px "Open Sans", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
p[name="az"]{
    font-weight: 700;
    font-size: 25px;
}
p[name="ay"]{
    font: 15px "Open Sans", sans-serif;
    font-weight: 300;
    color: #838C95;
}
