*{
    margin: 0;
    padding: 0;
    background-color: #222831;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 700px;
}
.container .pic img{
    width: 300px;
}
.container p{
    color: white;
    font-family: Roboto;
}
.container p[id="one"]{
    font-weight: 700;
    font-size: 100px;

}
.container p[id="two"]{
    font-weight: 200;

}
.container .desc .icon{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.head{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
}
.head a{
    text-decoration: none;
    color: #fff;
}
.head .name{
    font-weight: 600;
    font-size: 30px;
    color: white;
}
.head .menu{
    display: flex;
    justify-content: space-between;
    color: white;
}
.head .menu div[id="one"]{
    margin-right: 20px;
    margin-left: 20px;
}
.timeline{
    margin: 5em auto;
    max-width: 34.15em;
}
.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}
.checkpoint div{
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}
.checkpoint div p{
    font-family: Roboto;
    color: #fff;
}
.checkpoint div p[id="m"]{
    font-weight: 700;
}
.checkpoint div p[id="t"]{
    font-weight: 200;
}
.checkpoint p[id="d"]{
    font-weight: 200;
    font-size: 15px;
    font-family: Roboto;
}
.checkpoint p{
    line-height: 27px;
    color: #ccc;
}
.checkpoint:nth-child(odd) p[id="d"]{
    margin-left: 20px;
}
.checkpoint:nth-child(even) p[id="d"]{
    margin-left:350px;
}
.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}
.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 5em;
    transform: translateX(-17em);
}
.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 5em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before{
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before{
    left: 0;
}
.checkpoint:nth-child(even)::before{
    right: 0;
}
.checkpoint:nth-child(even) div::before,
.checkpoint:nth-child(odd) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}
.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

.about .pic{
    background-color: #31363F;
}
.about img{
    width: 250px;
    border-radius: 10%;
}
.about{
    width: 100%;
    height: 400px;
    background-color: #31363F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.t p{
    font-family: Roboto;
    background-color: #31363F;
    color: #fff;
}
.t p[id="t"]{
    font-weight: 700;
    font-size: 40px;

}
.t p[id="d"]{
    padding-top:20px ;
    font-weight: 400;

}
.foot{
    width: 100%;
    background-color: #151515;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;

}
.foot p[id="t"]{
    margin-top: 10px;
    font-family: Roboto;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
}
.foot div,.foot p,.foot form{
    background-color: #151515;
}
.foot div input,textarea{
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: hsla(216, 18%, 16%, 0.199);
}
.foot div textarea{
    width: 61%;
}
.foot button{
    background-color: #F06000;
    padding: 10px;
    border: 0;
    margin: 5px;
    border-radius: 10px;
    font-family: Roboto;
    font-weight: 700;
    color: #fff ;
}
.foot .cnt p[id="t"]{
    font-family: Roboto;
    font-weight: 600;
    color: #fff;

}
.foot .cnt p[id="s"]{
    font-family: Roboto;
    font-weight: 200;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot .cnt a{
    margin-right: 5px;
    background-color: #151515;
}
.foot .cnt img{
    background-color: #151515;
}
.foot .cnt{
    margin-right: 20px;
}
.foot .cnt1{
    margin-left: 20px;
}
.download-link {
    display: inline-flex; /* Align items horizontally */
    align-items: center; /* Vertically center align */
    color: white; /* Make text white */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Adjust font size */
}

.download-link img {
    width: 20px; /* Resize SVG */
    height: 20px;
    margin-right: 8px; /* Add spacing between icon and text */
}
@media screen and (max-width:1150px) {
    .container p[id="one"]{
        font-weight: 700;
        font-size: 50px;
    
    }
    .container .pic img{
        display: none;
    }
    .container .icon img{
        margin-right: 10px;
    }
    .about{
        display:inline-block;
    }
    .about .pic{
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
    .about .t p[id="t"]{
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
    .foot{
        display: inline-block;
    }
    .cnt p,.cnt .icon{
        display: flex;
        justify-content: center;
    }
    .cnt1 p{
        display: flex;
        justify-content: center;
    }
    .timeline{
        width: 80vw;
    }
    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before{
        width: 3px;
        height:  4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before{
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    .checkpoint:nth-child(odd) p[id="d"]{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .checkpoint:nth-child(even) p[id="d"]{
        margin-left:0;
        display: flex;
        justify-content: center;
    }

}
